* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --gradient-light: linear-gradient(#b6ad90, #8e618f, #4caca7, #a4ac86);
  --gradient-dark: linear-gradient(90deg, #333d29, #656d4a, #3a3348, #4caca7);
  --color-projects-bg-dark: linear-gradient(180deg, #414833 0%, #333d29 100%);
  --color-background: #233831;
  --color-body-text: #c2c5aa;
  --color-hero-text: #c2c5aa;
  --color-navbar-bg: #c2c5aab5;
  --color-1: #1f1206;
  --color-2: #21150a;
  --color-3: #302113;
  --color-4: #504230;
  --color-5: #a89f83;
  --color-6: #c2c5aa;
  --color-7: #a4ac86;
  --color-8: #656d4a;
  --color-9: #414833;
  --color-10: #333d29;
  --font-h1: clamp(2rem, 0.5781rem + 5.4vw, 6.5rem);
  --font-h2: clamp(1.5rem, 0.5781rem + 4.2vw, 3.5rem);
  --font-h3: clamp(0.75rem, 0.5781rem + 4.2vw, 3rem);
  --font-p: clamp(1rem, 0.5781rem + 1.55vw, 3rem);
}

html {
  scroll-behavior: smooth;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #233831;
  }

  .hero {
    color: var(--color-hero-text);
    /* background: var(--color-hero-bg-dark); */
  }
  .projectsContainer {
    /* background: var(--color-projects-bg-dark); */
  }
  .inProgress {
  }
}
/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #fbefcf;
    background-size: 400% 200%;
    animation: gradient 10s ease infinite;
  }

  .hero {
    color: #233831;
    /* background: var(--color-hero-bg-light); */
  }

  .projectsContainer {
    /* background: var(--color-projects-bg-light); */
  }
  .inProgress {
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* body {
  background-color: #233831;
} */

header {
  position: sticky;
  padding-top: 40px;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(5px);
}

.navScroll {
  backdrop-filter: blur(5px);
  background-color: #a4ac8632;
}

.navBar {
  width: 80%;
  max-width: 900px;
  border-radius: 40px;
  text-align: center;
  padding: 12px 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 40px;

  z-index: 10;
  margin: 0 auto;

  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    width: 175px;
    padding: 12px 0;
    background-color: transparent;
    cursor: pointer;
    list-style: none;
    border-radius: 40px;
    width: 175px;
    margin: 0 10px;
    transition: background-color 1s ease;
  }
  a {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    mix-blend-mode: difference;
  }
}

.navBar li.active {
  background-color: rgba(255, 255, 255, 0.308);
  animation: pulse 2s ease;
  a {
    color: #1f1206;
    mix-blend-mode: difference;
  }
}

.navBar li:hover {
  background-color: #ffffff15;
  a {
    animation: wiggle 0.5s forwards;
    color: rgba(255, 255, 255, 0.3);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    scale: 100%;
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
    scale: 110%;
  }
}

/* **************** HERO **************** */

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient {
  height: 40vh;
  width: 100%;
  margin-top: 3%;
  background: radial-gradient(
    #c4b2a9 0%,
    #54756c 31%,
    #476a6f 50%,
    #65907e 63%,
    #a89f83 71%,
    #65907e 84%
  );

  background-size: 1000% 400%;
  animation: gradient 20s ease infinite;
}

.mask {
  mask-image: url(Images/Mountains-outline.svg);
  mask-repeat: no-repeat;
  mask-position: 50% 0;
  mask-size: contain;
}

.hero {
  height: 30vh;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.25;

  h1 {
    font-size: var(--font-h1);
    letter-spacing: -0.3rem;
  }
  h2 {
    font-size: var(--font-h2);
    font-weight: 400;
  }
}

.projectsCounterContainer {
  width: 100%;
  position: relative;
  top: -3.5rem;
  margin: 0 auto;
  margin-bottom: clamp(0.1rem, 2.5rem + 1vw, 10rem);
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 1.5s ease;

  h3 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
/* *******************PROJECTS******************* */

.projectsContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;

  a {
    border: 3px #ffffff4d solid;
    padding: 0.75rem 1.5rem;
    margin-left: 1rem;
  }

  h1 {
    font-weight: 300;
  }
}

.projectTile {
  position: relative;
  transition: color 1s ease, box-shadow 1s ease, scale 1s ease;

  .projectDescription {
    height: 5rem;
    opacity: 0;
    position: relative;
    top: -5px;
    width: 100%;
    transition: opacity 2s ease;
    z-index: -1;
  }
}

.descriptionCover {
  position: absolute;
  top: 125px;
  background-color: inherit;
  width: 800px;
  height: 100px;
  z-index: 1;
  transition: transform 1s ease;
}

.projectTile:hover {
  box-shadow: 13px 25px 30px -6px rgba(0, 0, 0, 0.2);
  scale: 105%;

  .projectButtons {
    opacity: 1;
    z-index: 3;
    transform: translate(-1rem, -2.25rem);
  }
  img {
    scale: 35%;
    filter: saturate(100%);
    transform: translate(-86rem, -54rem);
  }
  .projectDescription {
    opacity: 1;
  }
  .descriptionCover {
    transform: translateX(100%);
  }
}

.projectsImageContainer {
  img {
    position: absolute;
    filter: saturate(15%);
    border-radius: 1rem;
    margin-left: 3rem;
    transition: transform 1s ease-in-out, scale 1s ease;
    left: 0;
    z-index: 5;
  }
}

.projectButtons {
  position: relative;
  text-align: right;
  z-index: 5;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.tile {
  border-radius: 5rem;
  height: 80vh;
  aspect-ratio: 1;
  max-height: 650px;
  min-height: 200px;
  padding: 2rem;
  overflow: hidden;
}

.project1,
.project5 {
  font-size: 1rem;
  color: #ffffff4d;
  background-color: #476a6f;
}

.project2,
.project6 {
  color: #ffffff4d;
  background-color: #65907e;
}

.project3,
.project7 {
  color: #ffffff4d;
  background-color: #54756c;
}

.project4,
.project8 {
  color: #ffffff4d;
  background-color: #334845;
}

/* *******************PROGRESS******************* */
.progressHeader {
  color: var(--color-5);
  font-size: var(--font-h1);
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 2rem;
  letter-spacing: -3px;
}

.progressSubHeader {
  color: var(--color-5);
  font-size: var(--font-h3);
  text-align: center;
  margin-bottom: 10rem;
  font-weight: 200;
}

.progressContainer {
  height:400px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  width: 90%;
  display: flex;
  justify-content: center;
}

.progressTile:hover {
  opacity: 0.6;
}
.progress1 {
  color: #7b507c;
  background-color: #476a6f;
}
.progress2 {
  color: #6ba2a0;
  background-color: #496057;
}
.progress3 {
  color: #6ba2a0;
  background-color: #54756c;
}
.progress4 {
  color: #6ba2a0;
  background-color: #ffffff4d;
}

/* *******************ABOUT******************* */

.about {
  color: #233831;
  background-color: var(--color-5);
  font-size: var(--font-h1);
  height: 100vh;
  min-height: 900px;
  h1 {
    text-align: center;
    font-size: var(--font-h1);
    letter-spacing: -0.35rem;
    margin-top: 10rem;
    padding: 3rem 0;
  }
  h2 {
    font-size: var(--font-h2);
    font-weight: 500;
    text-align: left;
    margin-bottom: 1rem;
  }
  p {
    width: 100%;
    font-size: var(--font-p);
    margin-bottom: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.1;
  }
  .aboutTop {
    height: 70vh;
    width: 95%;
    background-color: var(--color-6);
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    .aboutImageWrapper {
      text-align: center;
      height: auto;
      width: 40%;
      display: flex;
      align-items: center;
      img {
        /* margin: 0 auto; */
        max-height: 100%;
        max-width: 100%;
        clip-path: xywh(0 0 100% 100% round 3rem 0);
        object-fit: contain;
        margin-left: 3rem;
      }
    }
  }
}
.aboutTextWrapper {
  height: 100%;
  width: 60%;
  max-width: 1050px;
  padding-left: clamp(0rem, 0.1rem + 4vw, 10rem );
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* *******************CONTACT******************* */
.contact {
  height: 100vh;
  color: var(--color-5);
  text-align: center;
  h1 {
    font-size: var(--font-h1);
    letter-spacing: -0.35rem;
    position: relative;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }
  h2{
    font-weight: 200;
    margin-bottom: 4rem;
    letter-spacing: 2px;
  }
}

.contactContainer{
  width:90%;
  margin: 0 auto;
  height: 55%;
  display: flex;
}

.socialsContainer{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

  img{
    height: 80px;
    width: 200px;
    position: absolute;
    opacity: 0.3;
    transform-origin: center;
    transition: opacity 1s ease, transform 1.5s ease;
  }

  img:hover{
    opacity: 0.6;
    transform: scale(110%);
    filter: invert(1);
  }
}

.formContainer{
  width: 50%;
  height:100%;
}

.form{
  color: var(--color-6);
  background-color:#334845 ;
  border-color: var(--color-5);
  border-radius: 30px;
  margin: 0 auto;
  padding: 10% 6%;
  width: 500px;
  text-align: center;
  
}

.formBtn{
  color: #0000007b;
  background-color: #ffffff3d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 30px;
  border: solid 3px #00000047;
  transition: all 0.3s ease;
}

.formBtn:hover{
  color: #ffffff3d;
  background-color: #00000047;
 
}

#email, #subject, #message{
  background-color: #334845;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1rem;
  outline: none;
  margin: 1rem;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

#email::placeholder, #subject::placeholder, #message::placeholder{
  color: #ffffff;
  opacity: 0.15;
}


#subject, #email{
  height: 2rem;
  width: 80%;
}

#message{
  height: 10rem;
  width: 90%;
  resize: none;
}

#email:focus, #subject:focus, #message:focus{
  border: 2px solid var(--color-6);
}

#my-form-status{
font-size: 1.5rem;
font-weight: 300;
}


/* *******************MEDIA QUERIES******************* */
@media screen and (max-width: 550px) {
  body {
    /* background-color: yellow; */
  }
  header {
    background-color: #233831;
    margin-bottom: 1rem;
  }

  .navBar {
    display: none;
  }

  .gradient {
    height: 200px;
    width: 90%;
    margin: 0 auto;
  }
  .hero {
    max-height: 150px;

    h1 {
      letter-spacing: -0.1rem;
      margin-bottom: 0;
    }
  }
  .projectsCounterContainer {
    visibility: hidden;
    margin-top: 1rem;
    position: static;
    font-weight: 100;

    h3 {
    }
  }
  .projectsContainer {
    a {
      padding: 0.25rem 0.25rem;
      margin-right: 0.25rem;
      margin-left: 0;
    }
  }

  .projectTitle {
    padding-bottom: 1rem;
  }

  .descriptionCover {
    display: none;
  }

  .projectTile:hover {
    .projectButtons {
      transform: translate(0rem, 0rem);
    }
    img {
      transform: translate(3rem, 4rem);
    }
    .projectDescription {
      padding-top: 1.5rem;
    }
    .descriptionCover {
      display: none;
    }
  }

  .projectButtons {
    text-align: left;
  }

  .tile {
    height: 350px;
  }

  .progressHeader {
    color: var(--color-5);
    font-size: var(--font-h1);
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 1rem;
    letter-spacing: -1px;
  }

  .progressSubHeader {
    color: var(--color-5);
    font-size: var(--font-h3);
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 200;
  }

  .about {
    height: 800px;

    h1 {
      letter-spacing: -0.12rem;
    }

    p {
      font-weight: 300;
    }
    .aboutTop {
      height: 65%;
      padding: 3rem;
      .aboutImageWrapper {
        display: none;
      }
    }
  }
}

.aboutTextWrapper {
  width: 100%;
  margin: 0 auto;
}

.contact{
  h1 {
    letter-spacing: -0.1rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  h2{
    margin-bottom: 1rem;
    text-wrap:balance;
  }
}

.contactContainer{
  display: block;
  /* flex-direction: column-reverse; */
}

.socialsContainer{
  height: 80px;
  width: 100%;
  flex-direction: row;
  padding-top: 5rem;
  padding-bottom: 5rem;


  img{
    height: 40px;
    width: 100px;
    position: static;
  }
}

.formContainer{
  width: 100%;
  position: relative;
}

.form{
  padding: 10% 6%;
  height: 550px;
  width: 330px;  
}