@media screen and (max-width: 550px) {
  header {
    background-color: transparent;
    backdrop-filter: none;
    margin-bottom: 1rem;
  }
  .navBar {
    display: none;
  }
  .gradient {
    height: 200px;
    width: 90%;
    margin: 0 auto;
  }
  .hero {
    max-height: 150px;
    h1 {
      letter-spacing: -0.1rem;
      margin-bottom: 0;
    }
  }
  .projectsCounterContainer {
    visibility: hidden;
    margin-top: 1rem;
    position: static;
    font-weight: 100;
  }
  .projectsContainer {
    a {
      padding: 0.25rem 0.25rem;
      margin-right: 0.25rem;
      margin-left: 0;
    }
  }
  .projectTitle {
    padding-bottom: 1rem;
  }
  .descriptionCover {
    display: none;
  }
  .projectTile:hover {
    .projectButtons {
      transform: translate(0rem, 0rem);
    }
    img {
      transform: translate(3rem, 4rem);
    }
    .projectDescription {
      padding-top: 1.5rem;
    }
    .descriptionCover {
      display: none;
    }
  }
  .projectButtons {
    text-align: left;
  }
  .tile {
    height: 350px;
  }
  .progressHeader {
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 1rem;
    letter-spacing: -1px;
  }
  .progressSubHeader {
    margin: 0 auto;
    max-width: 300px;
    margin-bottom: 2rem;
  }
  .progressContainer {
    height: 650px;
    width: 90%;
    margin-top: 1rem;
    gap: 50px;
    display: block;
    padding: 0;
    a {
      padding: 0.25rem 0.25rem;
      margin-right: 0.25rem;
      margin-left: 0;
    }
  }
  .progressTitle {
    padding-bottom: 1rem;
  }
  .progressTile {
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .progressTile:hover {
    .progressButtons {
      transform: translate(0rem, 0rem);
    }
    img {
      transform: translate(3rem, 4rem);
    }
    .progressDescription {
      padding-top: 1.5rem;
    }
  }
  .progressButtons {
    text-align: left;
  }
  .about {
    height: 800px;
    h1 {
      letter-spacing: -0.12rem;
    }
    p {
      font-weight: 300;
    }
    .aboutTop {
      height: 65%;
      padding: 3rem;
      .aboutImageWrapper {
        display: none;
      }
    }
  }
  .aboutTextWrapper {
    width: 100%;
    margin: 0 auto;
  }
  .contact {
    height: 100vh;

    h1 {
      letter-spacing: -0.1rem;
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
    h2 {
      margin-bottom: 1rem;
      text-wrap: balance;
    }
  }
  .contactContainer {
    display: block;
  }
  .socialsContainer {
    height: 80px;
    width: 100%;
    flex-direction: row;
    padding-top: 5rem;
    padding-bottom: 5rem;
    img {
      height: 40px;
      width: 100px;
      position: static;
    }
  }
  .formContainer {
    width: 100%;
    position: relative;
  }
  .form {
    padding: 10% 6%;
    height: 550px;
    width: 330px;
  }
}
