@media (prefers-color-scheme: dark) {
  body {
    background-color: #233831;
  }

  .hero {
    /* color: var(--color-hero-text);
    background: var(--color-hero-bg-dark); */

    
  }
  .inProgress {
  }
}

@media (prefers-color-scheme: light) {
  body {
    /* background-color: #fbefcf;
    background-size: 400% 200%;
    animation: gradient 10s ease infinite; */
  }

  .hero {
    /* color: #233831;
    background: var(--color-hero-bg-light); */
  }

  .projectsContainer {
  }
  .inProgress {
  }
}
