* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --gradient-light: linear-gradient(#b6ad90, #8e618f, #4caca7, #a4ac86);
  --gradient-dark: linear-gradient(90deg, #333d29, #656d4a, #3a3348, #4caca7);
  --color-hero-bg-dark: linear-gradient(
    180deg,
    #41483300 0%,
    #4148337c 20%,
    #414833 100%
  );
  --color-hero-bg-light: linear-gradient(
    180deg,
    #b6ad9000 0%,
    #b6ad9081 10%,
    #b6ad90 100%
  );
  --color-projects-bg-dark: linear-gradient(180deg, #414833 0%, #333d29 100%);

  --color-projects-bg-light: linear-gradient(
    0deg,
    rgba(128, 107, 80, 1) 0%,
    rgba(182, 173, 144, 1) 100%
  );
  --color-progress-bg-dark: linear-gradient(
    180deg,
    rgba(51, 61, 41, 1) 0%,
    rgba(65, 72, 51, 1) 50%,
    rgba(101, 109, 74, 1) 100%
  );
  --color-progress-bg-light: linear-gradient(
    180deg,
    rgba(128, 107, 80, 1) 39%,
    rgba(101, 109, 74, 1) 100%
  );
  --color-background: #233831;
  --color-body-text: #c2c5aa;
  --color-hero-text: #c2c5aa;
  --color-navbar-bg: #c2c5aab5;
  --color-1: #1f1206;
  --color-2: #21150a;
  --color-3: #302113;
  --color-4: #504230;
  --color-5: #a89f83;
  --color-6: #c2c5aa;
  --color-7: #a4ac86;
  --color-8: #656d4a;
  --color-9: #414833;
  --color-10: #333d29;
  --font-h1: clamp(3.2rem, 0.5781rem + 8.2vw, 7rem);
  --font-h2: clamp(3rem, 0.5781rem + 8.2vw, 3rem);
  --font-h3: clamp(1rem, 0.5781rem + 8.2vw, 3rem);
}

html {
  scroll-behavior: smooth;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    /* background: var(--gradient-dark);
    background-size: 400% 400%;
    animation: gradient 20s ease-in-out infinite; */
  }

  .hero {
    color: var(--color-hero-text);
    /* background: var(--color-hero-bg-dark); */
  }
  .projectsContainer {
    /* background: var(--color-projects-bg-dark); */
  }
  .inProgress {
    
  }
}
/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background: var(--gradient-light);
    background-size: 400% 200%;
    animation: gradient 10s ease infinite;
  }

  .hero {
    color: var(--color-2);
    /* background: var(--color-hero-bg-light); */
  }

  .projectsContainer {
    /* background: var(--color-projects-bg-light); */
  }
  .inProgress {
    
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  
  background-color: #233831;
}

header {
  position: sticky;
  top: 40px;
  z-index: 10;
}

#logoLinks {
  border: 3px solid #1f1206;
  width: 900px;
  display: flex;
  justify-content: space-between;

  img {
    border: 2px solid black;
    height: 40px;
    opacity: 0.4;
  }
}

.navScroll {
  backdrop-filter: blur(5px);
  background-color: #a4ac8632;
}

.navBar {
  width: 800px;
  border-radius: 40px;
  text-align: center;
  padding: 12px 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 40px;

  z-index: 10;
  margin: 0 auto;

  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    width: 175px;
    padding: 12px 0;
    background-color: transparent;
    cursor: pointer;
    list-style: none;
    border-radius: 40px;
    width: 175px;
    margin: 0 10px;
    transition: background-color 1s ease;
  }
  a {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
  }
}


.navBar li.active {
  background-color: rgba(255, 255, 255, 0.308);
  animation: pulse 2s ease;
  a {
    color: #1f1206;
  }
}

.navBar li:hover {
  background-color: #ffffff15;
  a {
    animation: wiggle 0.5s forwards;
    color: rgba(255, 255, 255, 0.5)
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}

70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
}

100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    scale:100%
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
    scale:110%;
  }
}


/* **************** HERO **************** */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient {
  height: 350px;
  width: 100%;
  position: absolute;
  margin-top: 50px;
  /* top: 100px; */
  z-index: -1;
  filter: blur(100px);
  background: linear-gradient(
    90deg,
    rgba(136, 255, 120, 1) 0%,
    rgba(0, 166, 180, 1) 20%,
    rgba(136, 255, 120, 1) 42%,
    rgba(0, 166, 180, 1) 68%,
    rgba(136, 255, 120, 1) 100%
  );
  background-size: 1000% 200%;
  animation: gradient 60s ease infinite;
}

.mask {
  mask-image: url(Images/Mountains-outline.svg);
  mask-repeat: no-repeat;
  mask-position: 50% 10%;
  mask-size: contain;
}

.hero {
  height: 45vh;
  width: 100%;
  text-align: center;
  margin: 21rem auto 0 auto;
  line-height: 1.25;
  padding-top: 3rem;
  z-index: 2;

  h1 {
    font-size: var(--font-h1);
    letter-spacing: -6px;
  }
  h2 {
    font-size: var(--font-h2);
  }
}

/* *******************PROJECTS******************* */

.projectsCounterContainer {
  width: 1400px;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 1.5s ease;

  h3 {
    font-size: 1.5rem;
  }
}

.projectsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;

  a {
    border: 3px #ffffff4d solid;
    padding: 10px 30px;
    margin: 10px;
  }

  h1 {
    font-weight: 300;
  }
}

.projectTile {
  position: relative;
  transition: color 1s ease, box-shadow 1s ease, scale 1s ease;

  .projectDescription {
    opacity: 0;
    position: relative;
    top: -5px;
    width: 100%;
    transition: opacity 2s ease;
    z-index: -1;
  }
}

.descriptionCover {
  position: absolute;
  top: 125px;
  background-color: inherit;
  width: 800px;
  height: 100px;
  z-index: 1;
  transition: transform 0.7s ease;
}

.projectTile:hover {
  box-shadow: 13px 25px 30px -6px rgba(0, 0, 0, 0.2);
  scale: 105%;

  .projectButtons {
    opacity: 1;
    z-index: 3;
    transform: translate(-10px, -50px);
  }
  img {
    scale: 35%;
    filter: saturate(100%);
    transform: translate(-1375px, -875px);
  }

  .projectDescription {
    opacity: 1;
  }

  .descriptionCover {
    transform: translateX(700px);
  }
}
.projectsImageContainer {
  img {
    position: absolute;
    filter: saturate(10%);
    border-radius: 1rem;
    margin-left: 3rem;
    transition: transform 1s ease-in-out, scale 1s ease;
    left: 0;
    z-index: 5;
  }
}

.projectButtons {
  position: relative;
  text-align: right;
  margin-top: 1rem;
  z-index: 5;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.tile {
  border-radius: 5rem;
  padding: 2rem;
  overflow: hidden;
}

.project1,
.project5 {
  font-size: 1rem;
  color: #7b507c;
  background-color: #3a3348;
  height: 600px;
  width: 650px;
}

.project2,
.project6 {
  color: #6ba2a0;
  background-color: #334845;
  height: 600px;
  width: 650px;
}

.project3,
.project7 {
  color: #ffffff4d;
  background-color: #483337;
  height: 600px;
  width: 650px;
}

.project4,
.project8 {
  color: #ffffff4d;
  background-color: var(--color-1);
  height: 600px;
  width: 650px;
}


/* *******************PROGRESS******************* */



.progressHeader {
  color: var(--color-5);
  font-size: var(--font-h1);
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 2rem;
  letter-spacing: -3px;
}

.progressSubHeader {
  color: var(--color-5);
  font-size: var(--font-h3);
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 200;
}

.progressContainer {
  border: 3px white solid;
  margin: 0 auto;
  width: 75%;
  display: flex;
}

.progress1 {
  font-size: 1rem;
  color: #7b507c;
  background-color: var(--color-6);
  height: 600px;
  width: 1000px;
}

.progress2 {
  color: #6ba2a0;
  background-color: var(--color-2);
  height: 600px;
  width: 1000px;
}

.progress3 {
  color: #6ba2a0;
  background-color: var(--color-4);
  height: 600px;
  width: 1000px;
}

.progress4 {
  color: #6ba2a0;
  background-color: var(--color-1);
  height: 600px;
  width: 1000px;
}

/* *******************ABOUT******************* */

.about {
  color: var(--color-5);
  font-size: var(--font-h1);
  height: 1000px;
  text-align: center;
  h1 {
    font-size: var(--font-h1);
    letter-spacing: -6px;
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: var(--font-h2);
    margin-bottom: 5rem;
    font-weight: 200;
  }
}

/* *******************CONTACT******************* */