* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --gradient-light: linear-gradient(#b6ad90, #8e618f, #4caca7, #a4ac86);
  --gradient-dark: linear-gradient(90deg, #333d29, #656d4a, #3a3348, #4caca7);
  --color-projects-bg-dark: linear-gradient(180deg, #414833 0%, #333d29 100%);
  --color-background: #233831;
  --color-body-text: #c2c5aa;
  --color-hero-text: #c2c5aa;
  --color-navbar-bg: #c2c5aab5;
  --color-1: #1f1206;
  --color-2: #21150a;
  --color-3: #302113;
  --color-4: #504230;
  --color-5: #a89f83;
  --color-6: #c2c5aa;
  --color-7: #a4ac86;
  --color-8: #656d4a;
  --color-9: #414833;
  --color-10: #333d29;
  --font-h1: clamp(2rem, 0.5781rem + 5.4vw, 7rem);
  --font-h2: clamp(3rem, 0.5781rem + 4.2vw, 3rem);
  --font-h3: clamp(1rem, 0.5781rem + 8.2vw, 3rem);
  --font-p: clamp(0.5rem, 0.5781rem + 1.2vw, 2.5rem);
}

html {
  scroll-behavior: smooth;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #233831;
  }

  .hero {
    color: var(--color-hero-text);
    /* background: var(--color-hero-bg-dark); */
  }
  .projectsContainer {
    /* background: var(--color-projects-bg-dark); */
  }
  .inProgress {
  }
}
/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #fbefcf;
    background-size: 400% 200%;
    animation: gradient 10s ease infinite;
  }

  .hero {
    color: #233831;
    /* background: var(--color-hero-bg-light); */
  }

  .projectsContainer {
    /* background: var(--color-projects-bg-light); */
  }
  .inProgress {
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* body {
  background-color: #233831;
} */

header {
  position: sticky;
  top: 40px;
  z-index: 10;
}

#logoLinks {
  border: 3px solid #1f1206;
  width: 900px;
  display: flex;
  justify-content: space-between;

  img {
    border: 2px solid black;
    height: 40px;
    opacity: 0.4;
  }
}

.navScroll {
  backdrop-filter: blur(5px);
  background-color: #a4ac8632;
}

.navBar {
  width: 800px;
  border-radius: 40px;
  text-align: center;
  padding: 12px 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 40px;

  z-index: 10;
  margin: 0 auto;

  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    width: 175px;
    padding: 12px 0;
    background-color: transparent;
    cursor: pointer;
    list-style: none;
    border-radius: 40px;
    width: 175px;
    margin: 0 10px;
    transition: background-color 1s ease;
  }
  a {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
  }
}

.navBar li.active {
  background-color: rgba(255, 255, 255, 0.308);
  animation: pulse 2s ease;
  a {
    color: #1f1206;
  }
}

.navBar li:hover {
  background-color: #ffffff15;
  a {
    animation: wiggle 0.5s forwards;
    color: rgba(255, 255, 255, 0.3);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    scale: 100%;
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
    scale: 110%;
  }
}

/* **************** HERO **************** */

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient {
  height: 45%;
  width: 100%;
  position: absolute;
  margin-top: 3%;
  z-index: -1;
  background: radial-gradient(
    #c4b2a9 0%,
    #54756c 31%,
    #476a6f 50%,
    #65907e 63%,
    #a89f83 71%,
    #65907e 84%
  );

  background-size: 1000% 400%;
  animation: gradient 20s ease infinite;
}

.mask {
  mask-image: url(Images/Mountains-outline.svg);
  mask-repeat: no-repeat;
  mask-position: 50% 10%;
  mask-size: contain;
}

.hero {
  height: 38vh;
  width: 100%;
  text-align: center;
  margin: 23% auto 0 auto;
  line-height: 1.25;
  padding-top: 3rem;
  z-index: 2;

  h1 {
    font-size: var(--font-h1);
    letter-spacing: -0.4rem;
  }
  h2 {
    font-size: var(--font-h2);
    font-weight: 400;
  }
}

/* *******************PROJECTS******************* */

.projectsCounterContainer {
  width: 100%;
  position: relative;
  top: -3.25rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 1.5s ease;

  h3 {
    font-size: 1.5rem;
    font-weight: 200;
  }
}

.projectsContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;

  a {
    border: 3px #ffffff4d solid;
    padding: 0.75rem 1.5rem;
    margin-left: 1rem;
  }

  h1 {
    font-weight: 300;
  }
}

.projectTile {
  position: relative;
  transition: color 1s ease, box-shadow 1s ease, scale 1s ease;

  .projectDescription {
    height: 5rem;
    opacity: 0;
    position: relative;
    top: -5px;
    width: 100%;
    transition: opacity 2s ease;
    z-index: -1;
  }
}

.descriptionCover {
  position: absolute;
  top: 125px;
  background-color: inherit;
  width: 800px;
  height: 100px;
  z-index: 1;
  transition: transform 1s ease;
}

.projectTile:hover {
  box-shadow: 13px 25px 30px -6px rgba(0, 0, 0, 0.2);
  scale: 105%;

  .projectButtons {
    opacity: 1;
    z-index: 3;
    transform: translate(-1rem, -2.25rem);
  }
  img {
    scale: 35%;
    filter: saturate(100%);
    transform: translate(-86rem, -54rem);
  }
  .projectDescription {
    opacity: 1;
  }
  .descriptionCover {
    transform: translateX(100%);
  }
}

.projectsImageContainer {
  img {
    position: absolute;
    filter: saturate(15%);
    border-radius: 1rem;
    margin-left: 3rem;
    transition: transform 1s ease-in-out, scale 1s ease;
    left: 0;
    z-index: 5;
  }
}

.projectButtons {
  position: relative;
  text-align: right;
  z-index: 5;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.tile {
  border-radius: 5rem;
  height: 80vh;
  width: 47%;
  padding: 2rem;
  overflow: hidden;
}

.project1,
.project5 {
  font-size: 1rem;
  color: #ffffff4d;
  background-color: #476a6f;
}

.project2,
.project6 {
  color: #ffffff4d;
  background-color: #65907e;
}

.project3,
.project7 {
  color: #ffffff4d;
  background-color: #54756c;
}

.project4,
.project8 {
  color: #ffffff4d;
  background-color: #334845;
}

/* *******************PROGRESS******************* */

.progressHeader {
  color: var(--color-5);
  font-size: var(--font-h1);
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 2rem;
  letter-spacing: -3px;
}

.progressSubHeader {
  color: var(--color-5);
  font-size: var(--font-h3);
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 200;
}

.progressContainer {
  border: 3px white solid;
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: center;
}

.progressTile{
  font-size: 1rem;
  height: 600px;
  width: 200px;
  display: inline-block;
  overflow: hidden;
  transition: width 1s ease;
  cursor: pointer;
  h1{
    opacity: 0;
    width:100%;
    min-width: 200px;
  }
  h2 {
    opacity: 0;
    width: 100%;
  }
}

.progressTile.active {
  background-color: white;
  width:500px;
  h1{
    opacity: 1;
  }
}

.progressTile:hover{
  opacity: 0.6;
}

.progress1 {
  color: #7b507c;
  background-color: var(--color-6);
}

.progress2 {
  color: #6ba2a0;
  background-color: var(--color-2);
}

.progress3 {
  color: #6ba2a0;
  background-color: var(--color-4);
}

.progress4 {
  color: #6ba2a0;
  background-color: var(--color-1);
}

/* *******************ABOUT******************* */

.about {
  color: #233831;
  background-color: var(--color-5);
  font-size: var(--font-h1);
  height: 1000px;
  /* height: 2000px; height for 2 about sections*/
  h1 {
    text-align: center;
    font-size: var(--font-h1);
    letter-spacing: -0.35rem;
    margin-top: 10rem;
    padding: 4rem 0;
  }

  h2 {
    font-size: var(--font-h2);
    font-weight: 500;
    text-align: left;
    margin-bottom: 2rem;
  }

  p {
    width: 100%;
    font-size: var(--font-p);
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.1;
  }

  .aboutTop {
    /* height: 30%; height for 2 about sections */
    height: 55%;
    width: 95%;
    background-color: var(--color-6);
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    margin-bottom: 8rem;
    padding: 4.5rem;
    display: flex;
    justify-content: space-between;
    img {
      margin: 0 auto;
      height: 125%;
      clip-path: xywh(0 5px 100% 75% round 15% 0);
    }

    .aboutTextWrapper {
      height: 100%;
      width: 50%;
      margin-right: 1rem;
      margin-left: 6%;
    }

    .aboutImageWrapper {
      text-align: center;
      width: 40%;
    }
  }
}

  /* 

  skills section, not sure i want it
  .aboutBottom {
    height: 30%;
    width: 95%;
    float: right;
    background-color: var(--color-6);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    margin-bottom: 6rem;
    padding: 4.5rem;
  }

}
.skillsWrapper{
  height:100%;
  width: 50%;
}

.skillsContainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skills {
  background-color: white ;
  border-radius: 1rem;
  font-size: 2rem;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
}

.skills:hover {
  opacity: 0.5;
} */

/* *******************CONTACT******************* */

.contact {
  height: 1000px;
  color: var(--color-5);
  text-align: center;

  h1 {
    font-size: var(--font-h1);
    letter-spacing: -0.35rem;
    margin-top: 10rem;
  }
}
